<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Jan 2025 - Present</div>
                        <h3 class="timeline-title">Developer - SpringBoot | Tester - Selenium</h3>
                        <h4 class="timeline-subtitle">Mindsprint Digital</h4>
                        <p class="timeline-description">
                            Contributing to enterprise-grade solutions by developing robust backend services and automating test scenarios. Responsible for ensuring application stability through efficient code and test automation, primarily focusing on Spring Boot and Selenium-based frameworks.                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Sept 2023 - Nov 2023</div>
                        <h3 class="timeline-title">Web Developer</h3>
                        <h4 class="timeline-subtitle">Bharat Intern</h4>
                        <p class="timeline-description">
                            Focused on improving website performance and developing user-centric web portals. Contributed to optimizing loading speeds, enhancing responsiveness, and building efficient frontend features to ensure a seamless user experience.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Jul 2023 - Aug 2023</div>
                        <h3 class="timeline-title">Web Developer Intern</h3>
                        <h4 class="timeline-subtitle">Solitaire Infosys</h4>
                        <p class="timeline-description">
                            Contributed to the development of new features for existing web applications. My role involved enhancing user experience, improving UI components, and actively collaborating with the team to implement front-end solutions using modern web technologies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>